<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#each usersinfo}}
        <div style="background-color: coral;">User</div>
        <div>Name: {{this.username}}</div>
        <div>Email: {{this.email}}</div>
    {{/each}}
    <form action="/" method="GET">
    <input type="submit" value="Log out">
    </form>
    <form action="/" method="DELETE">
    <input type="submit" value="Delete">
    </form>
</body>
</html>